


.bar.bar-positive
    h1.title Elite schedule

ion-tabs.tabs-icon-top
    ion-tab(title="Leagues" icon="ion-home" ui-sref="home.leagues")
        ion-nav-view(name="tab-leagues")
    ion-tab(title="My Teams" icon="ion-star" ui-sref="home.myteams")
        ion-nav-view(name="tab-myteams")
            